<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> 💚Miriam´s personal Site</title>
</head>

<body>
  <table cellspacing="20">
    <tr>
      <td><img src="imagenes/miriam.png" alt="imagen perfil"></td>
      <td>
        <h1>Miriam Monje Morales</h1>
        <p><em>Profesora de <a href="https://es.wikipedia.org/wiki/Educaci%C3%B3n_especial">Educación Especial</a><strong>, Primaria e Inglés</strong></em></p>
        <p>Soy profesora, tengo el título de Grado en Educación Primaria con mención en Inglés<br>
          y en Educación Especial, además de la diplomatura de Educación Especial.<br>
          También poseo un Grado superior en Administración y Finanzas.</p>
      </td>
    </tr>
  </table>

  <hr size="3" noshade>
  <h3> Formación académica</h3>

  <ul>
    <li>UAM - Diplomatura Educación Especial.</li>
    <li>IES Virgen de la Paloma - FP2 Administración y Finanzas.</li>
    <li>UCJC - Grado en Educación Primaria con mención en Inglés y Educación Especial.</li>
  </ul>

  <hr size="3" noshade>
  <h3>Experiencia:</h3>
  <table cellspacing="10">
    <thead>
      <tr>
        <th>Fechas</th>
        <th>Trabajos</th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>2007 - 2010</td>
        <td>Auxiple (repartidora prensa gratuita y grabadora de datos)</td>
      </tr>
      <tr>
        <td>2011 - 2014</td>
        <td>Dependienta Cortefiel</td>
      </tr>
  </table>

  <hr size="3" noshade>
  <h3>Habilidades</h3>

  <table cellspacing="10">
      <tr>
        <td>Desarrollo web</td>
        <td>⭐</td>
      </tr>
      <tr>
        <td>Django</td>
        <td>⭐</td>
      </tr>
      <tr>
        <td>Desarrolador IOS</td>
        <td>⭐⭐</td>
      </tr>
  </table>

    </tbody>
    <tfoot>

    </tfoot>

  </table>

  <hr size="3" noshade>
  <h3>Mis aficiones</h3>
  <ol>
    <li>Hacer punto de cruz y tejer</li>
    <li><a href="https://es.wikipedia.org/wiki/Crep%C3%BAsculo:_La_saga">Leer novelas y libros de ciencia ficción</a></li>
    <li>Escuchar Música</li>
    <li>Aprender idiomas</li>
  </ol>

  <hr size="3" noshade>
  <a href="my contact.html">Mis datos de contacto</a>



</body>

</html>
